<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="nwebsec">
			<section name="httpHeaderSecurityModule" 
							 type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec" 
							 requirePermission="false" />
		</sectionGroup>
		<section name="configBuilders" 
						 type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
						 restartOnExternalChanges="false" 
						 requirePermission="false" />
	</configSections>
	<configBuilders>
		<builders>
		<add name="Secrets" userSecretsId="bbb68b3d-7ad7-4dbb-b011-8b2841ea35ef" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=1.0.0.0, Culture=neutral" /></builders>
	</configBuilders>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
		<add key="httpsRedirect" value="true" />
	</appSettings>
	<system.web>
		<httpRuntime targetFramework="4.7.2" enableVersionHeader="false" />
		<httpCookies httpOnlyCookies="true" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		<customErrors mode="RemoteOnly" />
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="true" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
				<add name="X-Robots-Tag" value="noindex" />
				<clear />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="NWebsecConfig" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"
								type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"
								type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
		</compilers>
	</system.codedom>
	<nwebsec>
		<httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<redirectValidation enabled="true">
				<allowSameHostRedirectsToHttps enabled="true" />
			</redirectValidation>
			<setNoCacheHttpHeaders enabled="true" />
			<x-Robots-Tag enabled="true" noIndex="true" noFollow="true" noSnippet="true" noArchive="true" noOdp="true" noTranslate="true" noImageIndex="true" />
			<securityHttpHeaders>
				<strict-Transport-Security max-age="365" includeSubdomains="true" preload="false" httpsOnly="false" />
				<x-Frame-Options policy="Deny" />
				<x-Content-Type-Options enabled="true" />
				<x-Download-Options enabled="false" />
				<x-XSS-Protection blockMode="true" policy="FilterEnabled"/>
				<referrer-Policy enabled="true" policy="no-referrer" />
				<content-Security-Policy enabled="true">
					<default-src self="true">
						<add source="https:" />
					</default-src>
					<script-src self="true" unsafeInline="true" unsafeEval="true">
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
						<add source="https://*.google.com" />
						<add source="https://*.google-analytics.com" />
						<add source="https://ajax.googleapis.com" />
						<add source="https://maxcdn.bootstrapcdn.com" />
					</script-src>
					<style-src self="true" unsafeInline="true">
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
						<add source="https://*.google.com" />
						<add source="https://*.google-analytics.com" />
						<add source="https://ajax.googleapis.com" />
						<add source="https://maxcdn.bootstrapcdn.com" />
					</style-src>
					<img-src self="true">
						<add source="data:" />
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
						<add source="https://*.google-analytics.com" />
						<add source="https://*.gstatic.com" />
					</img-src>
					<connect-src self="true">
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
						<add source="https://*.google-analytics.com" />
						<add source="https://*.gstatic.com" />
					</connect-src>
					<frame-src none="true" />
					<frame-ancestors none="true" />
					<object-src none="true" />
					<media-src self="true">
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
					</media-src>
					<font-src self="true">
						<add source="https://*.fullerton.edu" />
						<add source="http://*.fullerton.edu" />
						<add source="http://fullerton.edu" />
						<add source="https://maxcdn.bootstrapcdn.com" />
					</font-src>
					<report-uri enabled="false" />
				</content-Security-Policy>
			</securityHttpHeaders>
		</httpHeaderSecurityModule>
	</nwebsec>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
